@use "./variables" as *;

@mixin tablet-breakpoint {
	@media (min-width: 780px) {
		@content;
	}
}

@mixin icon {
	text-shadow: $text-shadow-white;
	font-size: 1rem;
	margin: 0.4rem 0.5rem;
	display: block;
	position: relative;
	cursor: pointer;
	&:hover {
		text-shadow: $text-shadow-green;
		color: $success;
	}
}

@mixin icon-button {
	border-radius: $border-raduis;
	padding: 0.1rem 0.3rem;
	display: flex;
	cursor: pointer;
}
