.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    &__input {
        width: 2rem;
    }
}

.timer-container {
    position: absolute;
    top: 10rem;
    right: 1rem;
  }