@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

@keyframes toggle-slide {
	from {
		left: 0;
	}

	to {
		left: 24px;
	}
}

.settings {
	text-align: left;
	background-color: $app-background-dark;
	border-radius: $border-raduis;
	font-size: 1.2rem;
	text-shadow: $text-shadow-white;
	padding: 1rem;
	display: grid;
	gap: 1rem;

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__toggle {
		@include toggle-switch;
	}

	&__bg-selector {
		&-actions {
			display: flex;
			gap: 0.5rem;
		}

		&-icon {
			border: solid 1px $white;
			padding: 0.1rem 0.2rem;
			border-radius: 4px;
			cursor: pointer;
		}
	}
}
