@use "../../sass/partials/variables" as *;

.HeaderFrame {
	background-color: rgba($color: red, $alpha: 0.35);
	border: $frame-border;
	position: fixed;
	top: 0;
	width: 100%;
	height: 8vh;
	z-index: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 1rem;
}

.logo {
	&__title {
		text-shadow: $text-shadow-white;
		cursor: pointer;
	}
}

.banner {
}
