@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

.note-section {
	position: relative;
	height: 100%;

	&__show-archive {
		@include icon-button;
		position: absolute;
		z-index: 1;
		right: 1rem;
		top: 0.5rem;
	}

	&__history {
		height: 100%;
		@include invisible-vertical-scroll;
		background-color: $black;
		border-radius: 0.25rem;
		opacity: 0.8;
		overflow-x: hidden;
	}
}

.note-card {
	padding: 1rem 2rem 0.5rem 1rem;
	position: relative;

	&__title {
		margin-bottom: 0.5rem;
	}

	&__timestamp {
		font-size: 0.8rem;
		text-shadow: $text-shadow-white;
	}

	&__delete {
		@include icon;
		font-size: 0.8rem;
	}
}
