@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

.user {
	&__navigation {
		display: flex;
	}

	&__icon {
		@include icon;
	}

	&__icon-container {
		margin: 0 0.4rem;
		cursor: pointer;
		text-shadow: $text-shadow-green;
		&:hover {
			filter: drop-shadow(0px 0px 3px $success);
		}
	}

	&__icon-title {
		position: absolute;
		margin-left: -0.8rem;
		color: $success;
	}
}
