@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

.user {
	&__navigation {
		display: flex;
	}

	&__icon-container {
		@include icon;
	}

	&__icon-title {
		position: absolute;
		margin-left: -0.8rem;
	}
}
