@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

.todos {
	text-align: right;
	background: $app-background-dark;
	padding: 1rem 1rem 0.5rem;
	border-radius: $border-raduis;

	&__header {
		display: flex;
		align-items: center;
		margin-bottom: 1rem;
		text-shadow: $text-shadow-white;
	}

	&__heading {
		margin-right: auto;
	}

	&__actions {
		display: flex;
		gap: 1rem;
	}

	&__action {
		@include icon-button;

		&--active {
			color: $error;
			&:hover {
				color: $error;
			}
		}
	}
}
