@use "../../../sass/partials/variables" as *;
@use "../../../sass/partials/mixins" as *;

.task-list {
	text-decoration: none;
	list-style: none;
}

.task {
	margin: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	&__text {
		text-shadow: $text-shadow-white;
		cursor: pointer;

		&--done {
			cursor: pointer;
			text-shadow: none;
			text-decoration: line-through;
			color: $light-grey;
		}
	}

	&__actions-container {
		height: 0;
		transition: height 2s;
		display: none;

		&--show {
			height: auto;
			display: flex;
			flex-direction: column;
		}
	}

	&__action {
		@include icon;

		&:hover {
			color: $error;
		}
	}
}
