@use "../../../sass/partials/variables" as *;
@use "../../../sass/partials/animations" as *;

.message {
	position: relative;
	max-width: 66%;
	width: auto;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	margin-bottom: 0.7rem;
	background-color: $black;
	border-radius: $border-raduis;
	padding: 0.25rem 0.4rem;

	&--self {
		background-color: forestgreen;
		align-self: flex-end;
	}

	&__user {
		color: $success;
		align-self: flex-start;
		font-size: 0.825rem;
		border-radius: $border-raduis;
	}

	&__text {
		font-size: 1rem;
		display: flex;
	}

	&__time {
		font-size: 0.65rem;
		color: $white;
		text-shadow: none;
		background-color: transparent;
		padding-left: 1rem;
		align-self: flex-end;
		margin-bottom: -0.2rem;
		margin-right: -0.1rem;
	}

	&__announcement {
		background-color: transparent;
		font-size: 1.05rem;
		color: $success;
		font-style: italic;
		margin-bottom: 0.7rem;
	}
}
