@use "../../sass/partials/variables" as *;

.note-section {
  width: 100%;

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: $black;
    border-radius: 0.25rem;
    opacity: 0.8;
  }

  &__title {
    background-color: $black;
    color: $white;
    border: none;
    border-bottom: ridge $white 2px;
    outline: none;
    font-size: 1.1rem;
    padding: 0.3rem 1rem;
    width: 100%;

    &-container {
      position: relative;
    }
  }

  &__note {
    background-color: $black;
    color: $white;
    outline: none;
    border: none;
    resize: none;
    padding: 1rem;
    height: 20rem;
  }
  &__save-note {
    position: absolute;
    right: 0;
  }
}

.btn {
  border: none;
  width: auto;
  color: $white;
  background-color: inherit;
  margin: 0 0.3rem;
  padding: 0.3rem;
  width: 1rem;

  i {
    font-size: 1.2rem;
  }

  &:hover {
    scale: 1.1;
    color: green;
  }
}
