@use "../../sass/partials/variables" as *;

.note-section {
  width: 100%;

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: $black;
    border-radius: 0.25rem;
  }

  &__title {
    background-color: $black;
    color: $white;
    border: none;
    border-bottom: ridge $white 2px;
    outline: none;
    padding: 0.3rem 1rem;
  }

  &__note {
    background-color: $black;
    color: $white;
    outline: none;
    border: none;
    resize: none;
    padding: 1rem;
    height: 20rem;
  }
}

button {
  border: none;
  width: auto;
  color: $white;
  background-color: none;
}
