@use "../../sass/partials/variables" as *;

.MainFrame {
	// Style
	background-color: rgba($color: grey, $alpha: 0.55);
	border: $frame-border;

	// Position
	position: fixed;
	top: 8vh;
	z-index: 0;

	// Size
	width: 75%;
	height: 76vh;

	// Children
	padding: 1rem;
}
