@use '../sass/partials/variables' as *;

.parent-container {
	position: relative;
}

.gifs {
	position: fixed;
	top: 0;
	left: 0;
	object-fit: cover;
	z-index: -1;
	width: 100vw;
	height: 100vh;
}

.popup-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.tasks-container {
	position: absolute;
	top: 10rem;
	right: 1.5rem;
}
.settings-container {
	position: absolute;
	top: 10rem;
	right: 1.5rem;
}

.chat-container {
	position: absolute;
	top: 6rem;
	left: 1rem;
}
