@use "../sass/partials/variables";

main {
  position: relative;
}

.students {
  position: absolute;
  left: 2rem;
  top: 3rem;
  z-index: 1;
}

.user {
  position: absolute;
  right: 2rem;
  top: 3rem;
  z-index: 1;

  &__navigation {
    display: flex;
  }

  &__icon-container {
    position: relative;
    padding: 0.3rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  &__icon-title {
    position: absolute;
    margin-left: -0.8rem;
  }
}

.background-gif {
  position: absolute;
  object-fit: cover;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

