@use "../../sass/partials/variables" as *;
@use "../../sass/partials/functions" as *;

.UserFrame {
	// Style
	background-color: frameColor(user);
	border: $frame-border;

	// Position
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 0;

	// Size
	width: 25%;
	height: 27vh;

	// Children
	padding: 1rem;
}
